@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background: linear-gradient(
    0deg,
    rgba(175, 220, 235, 1) 0%,
    rgba(255, 185, 96, 1) 100%
  );
  color: white;
  text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black;
  position: fixed;
  z-index: 10;
}

main {
  padding: 0;
  background: radial-gradient(
    circle,
    rgba(249, 157, 197, 1) 0%,
    rgba(175, 220, 235, 1) 100%
  );
  background-size: 100%;
}

footer {
  background: linear-gradient(
    0deg,
    rgba(255, 185, 96, 1) 0%,
    rgba(175, 220, 235, 1) 100%
  );
  color: white;
  text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.img {
  border-radius: 20px;
  height: 300px;
  width: 300px;
}

.card {
  height: 400px;
  width: 300px;
  text-align: center;
}

.btn {
  width: 20px;
  position: relative;
  right: -275px;
  top: 35px;
  border: 1px solid black;
  border-radius: 20px;
  background: white;
}

.auth {
  height: 100vh;
}

.root {
  width: 600px; 
  border: 2px solid rgb(57, 53, 53);
}

.root-child {
  width: auto; 
}

.root-li {
  width: auto;
}

.root-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.modal {
  background-color: rgba(165, 162, 162, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
  width: auto;
  
}

.modal-content.active {
  transform: scale(1);
}

.search-input {
  border: 2px solid;
  border-color: rgb(94, 157, 219);
  border-radius: 5px;
}

@media (max-width: 650px) { 
  .form {
    display: flex;
    flex-wrap: wrap ;
  }
  .form-search {
    display: flex;
    flex-wrap: wrap ;
  }
}

.not {
  height: 100vh;
}